:root {
  --progressBlue: rgb(58, 67, 141)
}


.App{
  width: 60%;
  margin: 0 auto;
}

.full-bar {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: space-between;
}

.progress-bar {
  margin: 11px -5px 0 -5px;
  position: relative;
  height: 10px;
  width: 200px;
  border: 0.1em solid var(--progressBlue);
  z-index: 0;
}

.filled-step {
  background-color: var(--progressBlue);
}

.completed-step, .start-step {
  font-size: 60px;
  /* margin-top: 10px; */
  display: flex;
  width: 0.4em;
  box-sizing: content-box;
  height: 0.4em;
  border: 0.1em solid var(--progressBlue);
  position: relative;
  border-radius: 0.35em;
  z-index: 1
}

.step-btn {
  background-color: seagreen;
  width: 100px;
  align-content: center;
  margin: 60px auto 0 auto ;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

